{% load static %}
{% url 'register' as register_url %}
{% url 'item_list' as admin_url %}
{% url 'logout' as logout_url %}
<!-- *** TOPBAR ***
_________________________________________________________ -->
<div id="top">
    <div class="container">
        <div class="col-md-6 offer" data-animate="fadeInDown">
            <a href="#" class="btn btn-success btn-sm" data-animate-hover="shake" style="background-color: #bf4fbb;" >Offer of the day</a>  <a href="#">Get flat 35% off on orders over $50!</a>
        </div>
        <div class="col-md-6" data-animate="fadeInDown">
            <ul class="menu">
                {% if not user.is_authenticated %}
                <li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a>
                </li>
                <li><a href="{{ register_url }}">Register</a>
                </li>
                {% else %}
                <li><a href="{{ logout_url }}">Logout</a>
                <li><a href="{{ admin_url }}">Admin</a>
                </li>
                {% endif %}


                <li><a href="{% url "contact" %}">Contact</a>
                </li>
                <li><a href="#">Recently viewed</a>
                </li>
            </ul>
        </div>
    </div>




    <!--  Login Form Modal -->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-
              hidden="true">&times;</span></button>
            <h4 class="modal-title text-center" id="loginModelLabel">Login</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
              <p id="loginerror"></p>
                <form class="login-form" id="loginform"  action="{% url 'login' %}">{% csrf_token %}
                  <div class="form-group">
                    <input type="name" name="query" id="login-username" class="form-control"
                     placeholder="Username/Email" required="required" maxlength="10" size="10"/>
                    <label id="no-pno-label" class="control-label" for="login-username"
                     style="display:none;">Please add Email/Username.</label>
                  </div>
                  <p class="text-danger text-center" id="no-user-error" style="display:none;">We
                     didn't find you! Please Register</p>
                  <div class="form-group">
                    <input type="password" name="password" id="login-password" class="form-control"
                     placeholder="Password" required="required" />
                  </div>
                  <p class="text-danger text-center" id="password-error" style="display:none;">Wrong
                    Password!</p>
                  <div class="form-group text-center">
                    <input type="submit" value="Login" class="btn  btn-lg btn-block btn-cakemporos"
                     id="signUp-Submit">
                  </div>
                  <input type="hidden" name="data_from_form" value="N">
                </form>
              </div>
            </div>
            <hr/>
            <p class="text-center text-muted">Not registered yet?</p>
            <p class="text-center text-muted"><a href="{{register_url}}"><strong>Register now</strong></a>! It is easy and done in 1&nbsp;minute and gives you access to special discounts and much more!</p>

          </div>

        </div>
      </div>
    </div>
    <!-- End of Login Modal -->

    <!-- <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
        <div class="modal-dialog modal-sm">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="Login">Customer login</h4>
                </div>
                <div class="modal-body">
                    <form class="login-form" id="loginform" action="{% url 'login' %}"> {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" id="query" name="query" placeholder="email/username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password" name="password" placeholder="password">
                        </div>

                        <p class="text-center">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Log in</button>
                        </p>

                    </form>

                    <p class="text-center text-muted">Not registered yet?</p>
                    <p class="text-center text-muted"><a href="register.html"><strong>Register now</strong></a>! It is easy and done in 1&nbsp;minute and gives you access to special discounts and much more!</p>

                </div>
            </div>
        </div>
    </div> -->

</div>
