                    <div class="panel panel-default sidebar-menu">

                        <div class="panel-heading">
                            <h3 class="panel-title">Brands <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Clear</a></h3>
                        </div>

                        <div class="panel-body">

                          <form action='{% url 'product_list' prospect_type=prospect_type category_type=category_type %}' method='GET'>{% csrf_token %}
                                <div class="form-group">
                                    {% for brand in brand_list %}
                                    <div class="checkbox">
                                        <label>
                                          {% if brand.brandName in values_from_brand_checkbox %}
                                            <input name="brand_checkbox_val" value="{{brand.brandName}}" type="checkbox" checked>{{ brand.brandName }} (10)
                                          {% else %}
                                            <input name="brand_checkbox_val" value="{{brand.brandName}}" type="checkbox">{{ brand.brandName }} (10)
                                          {% endif %}
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>

                                <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>

                            </form>

                        </div>
                    </div>
