{% extends "base.html" %}
{% load static %}
{% block content %}


<!-- <div id="content"> -->
<div class="container">

    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a href="/">Home</a>
            </li>
            <li><a href="#">Ladies</a>
            </li>
            <li><a href="#">Tops</a>
            </li>
            <li>White Blouse Armani</li>
        </ul>

    </div>
    <div class="col-md-3 div-desktop">
        {% include 'products/categories_nav.html' with obj=object_list  prospect_type=prospect_type category_type=category_type %}
        {% include 'products/brands.html' with obj=object_list prospect_type=prospect_type category_type=category_type %}
        {% include 'products/colors.html' with obj=object_list prospect_type=prospect_type category_type=category_type %}
        {% include 'products/sale_banner.html'  %}
    </div>



    <div class="col-md-9">

        <div class="row" id="productMain">
            <div class="col-sm-6">
                <div id="mainImage">
                    <img  src="{{ object.image1.url }}" alt="" class="img-responsive" style="height: 366px; width:397px;">
                </div>

                <div class="ribbon sale">
                    <div class="theribbon">SALE</div>
                    <div class="ribbon-background"></div>
                </div>
                <!-- /.ribbon -->

                <div class="ribbon new">
                    <div class="theribbon">NEW</div>
                    <div class="ribbon-background"></div>
                </div>
                <!-- /.ribbon -->

            </div>
            <div class="col-sm-6">
                <div class="box" style="padding-bottom: 0px; height: 366px;">
                    <h1 class="text-center">{{ object.title }}</h1>
                    <p class="goToDescription"><a href="#details" class="scroll-to">Scroll to product details, material & care and sizing</a>
                    </p>
                    <p class="price">{{ object.price}} </p>

                    <p class="text-center buttons" >
                       {% include 'products/snippets/update_cart_get.html' with product_id=object.id %}
                    </p>


                </div>

                <div class="row" id="thumbs">
                    <div class="col-xs-4">
                        <a href="{{ object.image1.url }}" class="thumb">
                            <img src="{{ object.image2.url }}" alt="" class="img-responsive" style="height: 128px; width:183px;">
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a href="{{ object.image3.url }}" class="thumb">
                            <img src="{{ object.image4.url }}" alt="" class="img-responsive" style="height: 128px; width:183px;">
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a href="{{ object.image5.url }}" class="thumb">

                            <img src="{{ object.image6.url }}" alt="" class="img-responsive" style="height: 128px; width:183px;">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="box" id="details" style=" margin-top: -163px; width: 401px; margin-left: -17px; height: 523px;">
                <h4>Product details</h4>
                {% if object.brandID %}
                <h4>Brand Name</h4>
                {{ object.brandID }}
                {% endif %}
                {% if object.shortDesc %}
                {{ object.shortDesc|safe }}
                {% endif %}
                {% if object.materialAndCare %}
                <h4>Material & care</h4>
                {{ object.materialAndCare|safe }}
                {% endif %}
                <h4>Size & Fit</h4>
                Available in Sizes: {{ object.size|safe }}
                {% if object.fitting %}
                {{ object.fitting|safe }}
                {% endif %}
                {% if object.color %}
                <p><B>Color:</B> {{ object.color | title }} </p>
                {% endif %}

                {% if object.longDesc %}

                <blockquote>
                    {{object.longDesc|safe}}
                </blockquote>
                {% endif %}
                <hr>
                <div class="social">
                    <h4>Show it to your friends</h4>
                    <p>
                        <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                    </p>
                </div>
            </div>
       </div>
    </div>
    <!-- /.col-md-9 -->
</div>
<!-- /.container -->
<!-- </div> -->
<!-- /#content -->


<!-- *** FOOTER ***
_________________________________________________________ -->




<!-- /#all -->

{% endblock content %}
